<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script></head>
    <body>
    <div class="container my-5">
        <h1 class="text-center">Todo List</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Description</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:class="${todo.isComplete} ? 'table-success' : ''" th:attr="todoId=${todo.id}, todoIsComplete=${todo.isComplete}" th:each="todo : ${todos}">
                <td th:text="${todo.description}"></td>
                <td th:text="${#temporals.format(todo.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${#temporals.format(todo.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>
                    <button type="button" class="btn btn-sm" th:classappend="${todo.isComplete} ? 'btn-secondary' : 'btn-success'" id="btnComplete">
                        <span class="oi oi-check"></span>
                    </button>
                    <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#editModal" th:if="${todo.isComplete != true}" id="btnEdit">
                        <span class="oi oi-pencil"></span>
                    </button>
                    <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" id="btnDelete">
                        <span class="oi oi-trash"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">Add Todo</button>
    </div>

    <!-- Create Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Add Todo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" >
                        <div class="form-group">
                            <label for="descriptionInput">Description:</label>
                            <input type="text" class="form-control" id="descriptionInput" name="description" required />
                        </div>
                        <button id="addTodoItem" type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Todo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" >
                        <div class="form-group">
                            <label for="descriptionEdit">Description:</label>
                            <input type="text" class="form-control" id="descriptionEdit" name="description" required />
                        </div>
                        <button id="editTodoItem" type="submit" class="btn btn-primary">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirm Delete Todo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this todo?
                </div>
                <div class="modal-footer">
                    <form >
                        <input type="hidden" name="_method" value="DELETE"/>
                        <button id="deleteTodoItem" type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/main.js}"></script>
    </body>
</html>